[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
mlflow = "*"
boto3 = "*"
awscli = "*"
seaborn = "*"
psycopg2 = "*"

[dev-packages]
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.11"
